/** Variables **/
:root {
    --ff:  Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    --fs: 1.5rem;
    --center: center;
    --sm-padding: 0.5rem;
    --flexy: flex;
    --100: 100%;
    --round-radius: 10px;
}

html {
    
}

/** Outline of layout **/
body {
    min-height: 100vh;
    display: grid;
    grid-template-columns: var(--100);
    place-content: var(--center);
}

button {
    border-radius: 5px;
    padding: var(--sm-padding);
}

.outline {
    place-items: var(--center);
    outline: 5px double black;
    border-radius: var(--round-radius);
    width: 75vw;
    height: 75vh;
    margin: 0 auto;
}

.top-level {
    display: var(--flexy);
    justify-content: space-around;
    align-items: var(--center);
    width: var(--100);
    margin-top: 2.5rem;
}

.middle-level {
    width: 70%;
    outline: 1px solid;
    height: 65%;
    display: var(--flexy);
    justify-content: var(--center);
    overflow: scroll;
    margin: 0.5rem 0;
    border-radius: var(--round-radius);
}


.bottom-level {
    display: var(--flexy);
    justify-content: space-around;
    width: var(--100);
}
