/** Variables **/
:root {
    --btn-ff:  Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    --main--ff: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    --fs: 1.5rem;
    --center: center;
    --sm-padding: 0.5rem;
    --flexy: flex;
    --100: 100%;
    --round-radius: 10px;
}

html {
    
}

/** Outline of layout **/
body {
    min-height: 100vh;
    display: grid;
    grid-template-columns: var(--100);
    place-content: var(--center);
    font-family: var(--main--ff);
}



h1 {
    font-size: calc(var(--fs) * 1.5);
    letter-spacing: .85rem;
    border-bottom: 2px solid;
    height: fit-content;
    width: fit-content;
    text-align: center;
}

.outline {
    place-items: var(--center);
    outline: 4px solid black;
    border-radius: var(--round-radius);
    width: 75vw;
    height: 75vh;
    margin: 0 auto;
    padding: 1.5rem;
}

.top-level {
    display: var(--flexy);
    justify-content: space-around;
    align-items: var(--center);
    width: var(--100);
    height: 5vh;
}

.middle-level {
    width: 80%;
    outline: 1px solid;
    height: 65%;
    display: var(--flexy);
    justify-content: var(--center);
    overflow: scroll;
    margin: 0.5rem 0;
    border-radius: var(--round-radius);
}


.bottom-level {
    display: var(--flexy);
    justify-content: space-around;
    align-items: center;
    width: var(--100);
}

/** Button styles **/

button {
    border-radius: 5px;
    padding: var(--sm-padding);
    width: calc(var(--100) / 3.75);
    border: none;
    font-family: var(--btn-ff);
}

#delete {
    background-color: red;
}

#delete:hover {
    font-size: calc(var(--fs) / 2);
    outline: 1px solid;
}



#edit:hover {
    background-color: #18da18da;
    outline: 1px solid;
}

#create {
    background-color: #18da18da;
    font-weight: normal;
}

#create:hover {
    outline: 1px solid;
}

/** Input box **/



input {
    width: 33%;
    height: 1rem;
    border-radius: 5px;
}

input:active, input:focus {
    border-color: #000;
}





.item-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    width: 100%;
    height: fit-content;
    margin-top: 1px;
}

.item-list li {
    border-radius: 5px;
    outline: 1px solid #333;
    width: 100%;
    height: 2.5rem;
    background-color: #3333331f;
    list-style: none;
    display: var(--flexy);
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}